
.table-background-color{
    background-color: aqua;
}
.table-center{
    align-content: center;
}
.font-stuff{
    font-family: cursive;
    font-size: 25px;
}
.generate-countries{
    font-family: cursive;
    font-size: 25px;
    background-color: lightgray
}
.countries-asc{
    font-family: inherit;
    font-size: 25px;
    background-color: orangered;
}
.capital-asc{
    font-family: monospace;
    font-size: 25px;
    background-color: purple;
}